header{
    background: #343a40;
    padding-top:15px;
    padding-bottom:15px;
    text-align: center;
    color:white;
}
.row{
    margin-top: 15px;
}
#itemGit{
    background: green;
    color:white;
}
#tabProjetsInit thead{
    text-align: center;
}
#foldItems{
    margin-bottom: 20px;
    margin-top: 20px;
}
#tabProjetsInit img{
    width:30px;
    height:30px;
}
#tabProjetsInit table tbody tr:nth-child(1){
    text-align: center;
}