header{
    background: #343a40;
    padding-top:15px;
    padding-bottom:15px;
    text-align: center;
    color:white;
}
.row{
    margin-top: 15px;
}
#itemGit{
    background: green;
    color:white;
}
#tabProjetsInit thead{
    text-align: center;
}
#foldItems{
    margin-bottom: 30px;
    margin-top: 30px;
}
#tabProjetsInit img, #tabProjetsResult img{
    width:30px;
    height:30px;
}
#tabProjetsInit table tbody tr:nth-child(1),#tabProjetsResult table tbody tr:nth-child(1){
    text-align: center;
}
#submitButton{
    margin-bottom: 20px;
}
table tbody tr td button a{
    color:white;
    text-decoration: none;
}
table tbody tr td button a:hover{
    color:white;
    text-decoration: none;
}